body {
	background-repeat:no-repeat;
}

.mainbox{
	border:2px solid #ff6666;
	border-radius: 20px;
	margin-left: 13px;
	height: 650px;
	width: 1320px;
}

.outerbox{
	border:3px solid black;
	height: 87px;
	width: 417px;
	margin-left: 432px;
	margin-top: 15px;
	border-radius: 15px;
}
.headBox
{	
	position: fixed;
	left: 28px;
	top: 12px;
	margin-top: 15px;
	margin-left: 430px;
	height: 84px;
	width: 414px;
	border: 2px solid #F50A25;
	border-radius: 10px;
	text-align: center;
	background-color:#E6293F;
	cursor: pointer;
}

#gk{

	font-family: cursive;
	font-size: 60px;
	color: white;
}

.photoFrame{
	margin-top: 50px;
	margin-left: 555px;
	border:2px solid #E6293F;
	border-radius: 150px;
	height: 185px;
	width: 185px;
}


.resumeStyle{				

	height:80px;
	width: 80px;
	margin-left: 290px;
	margin-top: 65px;
	mix-blend-mode: multiply;
}

.githubStyle{					
	
	height:80px;
	width: 80px;
	margin-left: 440px;
	margin-top: -80px;
	mix-blend-mode: multiply;
}

.mailStyle{					
	
	height:80px;
	width: 80px;
	margin-left: 590px;
	margin-top: -80px;
	mix-blend-mode: multiply;
}

.linkedinStyle{				
	
	height:80px;
	width: 80px;
	margin-left: 740px;
	margin-top: -80px;
	mix-blend-mode: multiply;
}

.twitterStyle{			
	
	height:80px;
	width: 80px;
	margin-left: 890px;
	margin-top: -80px;
	mix-blend-mode: multiply;
}
